/* ===================================== */
/* ===================================== */
/* UNIVERSAL Styles ==================== */
/* ===================================== */

/*
*, *:before, *:after {
  box-sizing: border-box;
} 
*/
/***************************************/
/***************************************/

/*FONT*/
@font-face {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  src: url('raleway_thin-webfont.eot'); /*IE9 Compat Modes*/
  src: url('raleway_thin-webfont.woff');  
  src: url('raleway_thin-webfont.otf');
  src: url('raleway_thin-webfont.svg');
}

/*  */
/*PAGE OVERFLOW - Hides Horizontal-Overflow & SCROLLBAR*/
body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
.container {
  padding: 1em;
}
/*  */


/* ===================================== */
/* ===================================== */


/* ===================================== */

                                                  
/* ============================================= */
/* <NAV> CONTAINER ============================= */
/* ============================================= */
/**/
/*NAVIGATION-BACKGROUND COLOR*/
.navbar {
  background: #fff;
}
/**/

/* ============================================= */
/* ============================================= */
.nav {
  text-align: center;
}

/* ============================================= */
/* ============================================= */



/* ===================================== 
   END of Main-Page Layout
======================================== */
/* ===================================== */






/*MEDIA QUERIES*/
/* @MIN-Width: 768 *****************************************/
@media screen and (min-width: 768px) {}
/***********************************************************/


/* @MIN-Width: 950 *****************************************/
@media screen and (min-width: 950px) {}
/***********************************************************/


/* @MIN-Width: 1200 ****************************************/
@media screen and (min-width: 1200px) {}
/***********************************************************/


