/* ===================================== */
/* ===================================== */
/* UNIVERSAL Styles ==================== */
/* ===================================== */

/*
*, *:before, *:after {
  box-sizing: border-box;
} 
*/

/*  */

/*FONT*/
@font-face {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  src: url('raleway_thin-webfont.eot'); /*IE9 Compat Modes*/
  src: url('raleway_thin-webfont.woff');  
  src: url('raleway_thin-webfont.otf');
  src: url('raleway_thin-webfont.svg');
}
/*  */

/*  */
/*PAGE OVERFLOW - Hides Horizontal-Overflow & SCROLLBAR*/
body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
/*  */


/*LISTS*/
/*Unordered*/
ul {
  padding: 0;
  list-style-type: none;
}
ul > li > a {
  color: #bbb;
    
  -webkit-transition: border 300ms ease;
  -moz-transition: border 300ms ease;
  -ms-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease; 
}
/*Underline Fade-Effect*/
a#fade {
  color: #bbb;
  text-decoration: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
  
  -webkit-transition: border 300ms ease;
  -moz-transition: border 300ms ease;
  -ms-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease; 
}
a#fade:hover {
  text-decoration: none; 
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}
/*  */
/*Ordered*/
ol {
  padding: inherit;
}
/*  */

/*  */
/* ===================================== */
/* ===================================== */


/* ===================================== */

                                                  
/* ============================================= */
/* <NAV> CONTAINER ============================= */
/* ============================================= */
/**/
/*NAVIGATION-BACKGROUND COLOR*/
.navbar {
  background: #fff;
}
/**/
.nav > .nav-tabs {
  text-align: center;
}
/**/
/* ============================================= */
/* MAIN BODY CONTAINER ========================= */
.container {
  max-width: 100%;
  /*margin: 0 auto;
  width: auto !important;*/ /*Find a way to Remove Right-Side Margin/Padding*/
}
/**/
/* <Sidebar> =================================== */
#sideNav {
  background-color: mistyrose;
  width: 200px;
  position: fixed;
  height: 81%;
}
/**/
/* <Main Content Section> ====================== */
#content {
  float: right;
  max-width: 100%;
  margin-left: 200px;
}
/* ============================================= */

/*Code Snippets*/
code, h4.card-subtitle {font-family: monospace; line-height: 2;}
h5.card-subtitle {line-height: 2;}
.card-subtitle > code {font-size: 18px;}
/*Code NON Snippets*/
code {font-size: 14px; line-height: 1;}





/*Footer*/
.fa-heart {
  color: red;
  animation: pulse 1.3s ease infinite;
  padding-top: -50px;  /*Required for Heart Animation*/
}
@keyframes pulse {
  0% {transform: scale(0.5);}
  50% {transform: scale(0.7);}
  100% {transform: scale(0.5);}
}

/* ===================================== 
   END of Main-Page Layout
======================================== */
/* ===================================== */






/*MEDIA QUERIES*/
/* @MIN-Width: 768 *****************************************/
@media screen and (min-width: 768px) {}
/***********************************************************/


/* @MIN-Width: 950 *****************************************/
@media screen and (min-width: 950px) {}
/***********************************************************/


/* @MIN-Width: 1200 ****************************************/
@media screen and (min-width: 1200px) {}
/***********************************************************/


