/* ===================================== */
/* ===================================== */
/* UNIVERSAL Styles ==================== */
/* ===================================== */

/*
*, *:before, *:after {
  box-sizing: border-box;
} 
*/

/*  */

/*FONT*/
@font-face {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  src: url('raleway_thin-webfont.eot'); /*IE9 Compat Modes*/
  src: url('raleway_thin-webfont.woff');  
  src: url('raleway_thin-webfont.otf');
  src: url('raleway_thin-webfont.svg');
}
/*  */

/*  */
/*PAGE OVERFLOW - Hides Horizontal-Overflow & SCROLLBAR*/
body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
.container {
  padding: 1em;
}
/*  */

/*LISTS*/
/*Unordered*/
ul {
  padding: 0;
  list-style-type: none;
}
ul > li > a {
  color: #bbb;
    
  -webkit-transition: border 300ms ease;
  -moz-transition: border 300ms ease;
  -ms-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease; 
}
/*Underline Fade-Effect*/
a#fade {
  color: #bbb;
  text-decoration: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
  
  -webkit-transition: border 300ms ease;
  -moz-transition: border 300ms ease;
  -ms-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease; 
}
a#fade:hover {
  text-decoration: none; 
  border-bottom: 1px solid rgba(192, 192, 192, 1);
}
/*  */
/*Ordered*/
ol {
  padding: inherit;
}
/*  */

/*  */
/* ===================================== */
/* ===================================== */


/* ===================================== */

                                                  
/* ============================================= */
/* <NAV> CONTAINER ============================= */
/* ============================================= */
/**/
/*NAVIGATION-BACKGROUND COLOR*/
.navbar {
  background: #fff;
}
/**/

/* ============================================= */
/* ============================================= */
.nav > .nav-tabs {
  text-align: center;
}
/**/

/* ============================================= */

/* <Sidebar> =================================== */
#sideNav {
   background-color: yellow;
    width: 200px;
    position: fixed;
    height: 100%;
}

#content {
  float: left;
    width: 84%;
    margin-left: 200px;
}
/* ============================================= */



/* ===================================== 
   END of Main-Page Layout
======================================== */
/* ===================================== */






/*MEDIA QUERIES*/
/* @MIN-Width: 768 *****************************************/
@media screen and (min-width: 768px) {}
/***********************************************************/


/* @MIN-Width: 950 *****************************************/
@media screen and (min-width: 950px) {}
/***********************************************************/


/* @MIN-Width: 1200 ****************************************/
@media screen and (min-width: 1200px) {}
/***********************************************************/


